---
layout: default
published: true
---
    <!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <h1 class="hero__title">Welcome To CodeWithPranav</h1>
            <p class="hero__description">Want to learn how to code and become a technical geek. You are in the right place. Browse courses and find out the best course for you. Its free!</p>
            
            <div class="hero__subscribe">
              <form class="subscribe-form validate"
                action="//frnla.us6.list-manage.com/subscribe/post?u=6314d69a3f315af7ce3fb00a0&amp;id=3038727cc3" method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
                <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                  placeholder="Subscribe here">
                <button class="button button--primary subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">Get a new tip</button>
              </form>
            </div>
            
          </div>

          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy" data-src="https://yt3.ggpht.com/w_0bNDZpoupjN1m6k97Pr4scdEIo6lDxh6pVi2XXaOfsOKe6Kr-Cpf2GMw3Q3Um2ctByF6klcA=s176-c-k-c0x00ffffff-no-rj-mo" alt="CodeWIthPranav" style="border-radius: 50%;">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div class="container">
  
  <div class="section__head">
          <h3 class="section__title">Browse Video Tutorials</h3>
        </div>
  <div class="row animate">
    
    
        
    
      {% for post in paginator.posts %}
        <div class="article col col-4 col-d-6 col-t-12">
  <div class="article__inner">

    <div class="article__head">
      <time class="article__date" datetime="2020-11-14T12:01:35+00:00">{{ post.date | date: "%b %-d, %Y" }}</time>

      
      
      

      
      <a class="article__image" href="{{ site.baseurl }}{{ post.url }}">
        <img class="lazy" data-src="{{ post.image }}" alt="{{ post.title }}">
      </a>
      

    </div>

    <div class="article__content">

      <h2 class="article__title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>

      
      <p class="article__excerpt">{{ post.content | strip_html | truncatewords: 40 }}</p>
      

    </div>
  </div>
</div>
 {% endfor %} 
    
    </div>
  </div>
{% include pagination.html %}



