---
layout: default
permalink: /tags/
title: Tags
---



<!-- begin tags -->
<section class="tags">

  <div class="tag__head">

    <div class="container">
      <div class="row">
        <div class="col col-12">

          <h1 class="tag__title">Tags</h1>
        
          <ul class="tag__list list-reset">
            
            
            {% for tag in site.tags %}
            
              
                 {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <li class="tag__item"><a href="#{{ tag_name | slugize }}" class="tag__link">{{ tag_name | slugize }}</a></li>
               
              
                
                
              
            {% endfor %}
              
                
             
              
            
              
            
          </ul>

        </div>
      </div>
    </div>

  </div>


  
  
  
  
  
  
  
  
  <div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    
     <div class="tags__inner">
    
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="tag__info">
              <div class="tag__info-box">
                <div class="tag__counter">
                  <span>3</span>
                  <small>Posts</small>
                </div>
                <h2 class="tag__name" id="{{ tag_name | slugize }}">{{ tag_name }}</h2>
              </div>
              <a class="top__link" href="#top">Return to top</a>
            </div>
          </div>
        </div>
      </div>
    <div id="#{{ tag_name | slugize }}"></div>
    <p></p>

    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
