---
layout: default
permalink: /tags/
title: Tags
---



<!-- begin tags -->
<section class="tags">

  <div class="tag__head">

    <div class="container">
      <div class="row">
        <div class="col col-12">

          <h1 class="tag__title">Tags</h1>
        
          <ul class="tag__list list-reset">
            
            
            {% for tag in site.tags %}
            
              
                 {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <li class="tag__item"><a href="#{{ tag_name | slugize }}" class="tag__link">{{ tag_name | slugize }}</a></li>
               
              
                
                
              
            {% endfor %}
              
                
             
              
            
              
            
          </ul>

        </div>
      </div>
    </div>

  </div>


  
  
  
  
  
  
  
  
  <div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    
     <div class="tags__inner">
    
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="tag__info">
              <div class="tag__info-box">
                <div class="tag__counter">
                  <span>{{ tag[1].size }}</span>
                  <small>Posts</small>
                </div>
                <h2 class="tag__name" id="{{ tag_name | slugize }}">{{ tag_name }}</h2>
              </div>
              <a class="top__link" href="#top">Return to top</a>
            </div>
          </div>
        </div>
      </div>
 
       
       
       
       <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="row">
            
              
               {% for post in site.tags[tag_name] %}
              
                <div class="article col col-4 col-d-6 col-t-12">
  <div class="article__inner">

    <div class="article__head">
      <time class="article__date" datetime="2020-10-31T12:01:35+00:00">{{ post.date | date: "%b %-d, %Y" }}</time>

      

      
      <a class="article__image" href="{{ site.baseurl }}{{ post.url }}">
        <img class="lazy" data-src="{{ post.image }}" alt="{{ post.title }}">
      </a>
      

    </div>

    <div class="article__content">

      <h2 class="article__title">
        <a href="/the-way-i-see-it-every-life-is-a-pile-of-good-things">{{ post.title }}</a>
      </h2>

      
      <p class="article__excerpt">{{ post.date | date: "%b %-d, %Y" }}</p>
      

    </div>
  </div>
</div>
              
            
             {% endfor %} 
                
              
               
            
            </div>
          </div>
        </div>
      </div>

    </div>

    
   {% endfor %} 
