 <!-- begin header -->
<header class="header" id="top">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="/">
          
            CodeWithPranav
          
          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">
            <div class="nav__icon-close">
              <i class="ion ion-md-close"></i>
            </div>
            <div class="nav__title">Menu</div>
            <ul class="nav__list list-reset">
              <li class="nav__item">
                <a href="/" class="nav__link">Home</a>
              </li>
              
                
              
                
                  
                  <li class="nav__item">
                    <a href="/about/" class="nav__link">About</a>
                  </li>
                  
                
              
                
                  
                  
                  
                
              
                
                  
                  <li class="nav__item">
                    <a href="/contact/" class="nav__link">Contact</a>
                  </li>
                  
                
              
                
                  
                
              
                
                  
                
              
                
                  
                
              
                
              
                
                  
                
              
                
                  
                
              
                
                  
                
              
              
              <li class="nav__item nav__item-icon">
                <div class="toggle-theme">
                  <div class="toggle-moon" title="Enable dark mode"><i class="ion ion-ios-moon"></i></div>
                  <div class="toggle-sun" title="Enable light mode"><i class="ion ion-ios-sunny"></i></div>
                </div>
              </li>
              
            </ul>
          </div>
        </nav>

        <div class="nav-button">
          <i class="nav__icon icon__menu ion ion-md-menu"></i>
          <i class="nav__icon icon__search ion ion-md-search"></i>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->

<!-- begin search -->
<div class="search">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="search__box">
          <div class="search__group">
            <div class="search__close">
              <i class="ion ion-md-close"></i>
            </div>
            <label for="js-search-input" class="screen-reader-text">Search for Blog</label>
            <input type="text" id="js-search-input" class="search__text" autocomplete="off" placeholder="Type to search...">
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="container">
    <div class="row search-results-list" id="js-results-container"></div>
  </div>

</div>
<!-- end search -->
